*.xcuserstate
.DS_Store
UserInterfaceState.xcuserstate
*.xcbkptlist
/TeamBoostFire.xcworkspace/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/TeamBoostKit/TeamBoostKit.xcodeproj/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad/xcschemes/xcschememanagement.plist
/TeamBoostFire.xcodeproj/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods/Pods.xcodeproj/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad/xcschemes/xcschememanagement.plist
